:root {
    --border-radius-s: 2px;
}

.Trigger {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-s);
    padding: 0 12px;
    height: 36px;
    color: rgb(255, 255, 255);
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        /*background-color: var(--mauve-3);*/
    }
    &:focus {
        /*box-shadow: 0 0 0 2px black;*/
    }
    &[data-placeholder] {
        color: var(--violet-9);
    }

    &[data-state="open"] {
        border-radius: var(--border-radius-s) var(--border-radius-s) 0 0;
    }

    margin-bottom: 500px;
    width: 210px;
    box-sizing: border-box;
    border: 1px solid rgb(76, 76, 76);
    background: rgb(23, 23, 23);
}

.Icon {
    color: Var(--violet-11);
    transition: transform .2s;
}

[data-state="open"]>.Icon {
    transform: rotate(180deg);
}

.Content {
    overflow: hidden;
    width: 210px;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(23, 23, 23);
    border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
    cursor: pointer;
}

.Viewport {
    padding: 5px;
}

.Item {
    font-size: 13px;
    line-height: 1;
    color: var(--violet-11);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 35px 0 25px;
    position: relative;
    user-select: none;
    &[data-disabled] {
        color: var(--mauve-8);
        pointer-events: none;
    }
    &[data-highlighted] {
        outline: none;
        background-color: var(--violet-9);
        color: var(--violet-1);
    }
}

.Label {
    color: rgb(141, 144, 148);
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.Separator {
    height: 1px;
    background-color: var(--violet-6);
    margin: 5px;
}

.ItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    color: var(--violet-11);
    cursor: default;
}



/* styles.css */

/*.Item[data-disabled] {*/
/*    color: red;*/
/*}*/

/*.Group {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/


