:root {
    --border-radius-s: 2px;
    --color-text-primary: #ffffff;
    --color-text-secondary: #8d9094;
    --color-text-focus: #397df6;
    --color-bg-primary: #0d0d0d;
    --color-border-default: #4c4c4c;
}

.Trigger {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-s);
    padding: 0 12px;
    height: 36px;
    color: var(--color-text-primary);
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;

    /*margin-bottom: 500px;*/
    width: 210px;
    box-sizing: border-box;
    border: 1px solid var(--color-border-default);
    background-color: var(--color-bg-primary);
    transition: all 0.2s ease;

    &:hover {
        border: 1px solid var(--color-text-secondary);
        border-radius: 2px;
        color: var(--color-text-secondary);
    }

    &:focus {
        outline: 2px solid var(--color-text-focus);
        border: 1px solid transparent;
        color: var(--color-text-secondary);
    }

    &[data-placeholder] {
        /*color: var(--violet-9);*/
    }

    &:active {
        border-color: var(--color-text-primary);
    }

    &:disabled {
        color: var(--color-border-default);
        border-color: var(--color-border-default);
    }

    &[data-state="open"] {
        border-radius: var(--border-radius-s) var(--border-radius-s) 0 0;
        border: 1px solid var(--color-text-primary);
        background-color: #171717;
    }
}

.Icon {
    transition: transform .2s;
}

[data-state="open"] > .Icon {
    transform: rotate(180deg);
}

.Content {
    overflow: hidden;
    width: 210px;
    border: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);
    background-color: #171717;
    border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
    cursor: pointer;

    &:hover {
        color: var(--color-text-secondary);
    }
}

.Item {
    font-family: Inter, serif;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    user-select: none;
    transition: all 0.3s ease;

    &[data-highlighted] {
        outline: none;
        background-color: #333333;
        color: var(--color-text-focus);
    }
}

.Label {
    color: var(--color-text-secondary);
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
